APP_NAME=MIS
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://api.mis-project.local
FRONTEND_URL=http://localhost:3000

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=mis_project
DB_USERNAME=mis_user
DB_PASSWORD=mis_secret

REDIS_HOST=redis
REDIS_PORT=6379
CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
